# Use atleast ten methods of strings with example

In [155]:
q="python class"
q.partition('t')

('py', 't', 'hon class')

In [153]:
d="apple is good for health"
d.isspace()

False

In [152]:
c="hello nature"
c.swapcase()

'HELLO NATURE'

In [18]:
c=str.capitalize("hello")

In [19]:
c

'Hello'

In [28]:
c=str.casefold("hElLo mY NaMe Is PriYaNKA")

In [29]:
d=str.casefold("hello MY name is PriYANka")

In [30]:
c==d

True

In [43]:
d="abdjxnj"
c=str.upper(d)

In [44]:
c

'ABDJXNJ'

In [47]:
d="HELLO"
q=str.lower(d)
q

'hello'

In [147]:
g= "hello world"
g.split()

['hello', 'world']

In [145]:
name='piku'

age=24

print("my name is {0} and age is {1}".format(name,age))

my name is piku and age is 24

In [150]:
name="priyanka"
name.index('y')

3

# Use atleast Ten methods of a List

In [2]:
a=['one','two','three','four']
a.append('five')
a

['one', 'two', 'three', 'four', 'five']

In [12]:
q=['a','b','c','d','e']
q.pop(2)
q

['a', 'b', 'd', 'e']

In [13]:
q

['a', 'b', 'd', 'e']

In [16]:
list=[1,7,3,5,9,2]
list1=['a','e','b','q','f']
list.sort()
list1.sort()

In [17]:
list

[1, 2, 3, 5, 7, 9]

In [19]:
newlist=list1

In [20]:
newlist

['a', 'b', 'e', 'f', 'q']

In [42]:
list3=[5,6,98,3,0,1]
list3.remove(1)

In [33]:
list3

[5, 6, 98, 3, 0]

In [34]:
list4=[1,4,5,7,2,3,80,0]
list4.reverse()

In [35]:
list4

[0, 80, 3, 2, 7, 5, 4, 1]

In [40]:
list6=['a',1,5,'d',7,9]
list6.insert(3,10)
list6

['a', 1, 5, 10, 'd', 7, 9]

In [44]:
list7=['q',9,'r','w',1,5,4]
list7.clear()
list7

[]

In [47]:
list8=['g','f','w',1,6,2,6]
list8.copy()

['g', 'f', 'w', 1, 6, 2, 6]

In [52]:
list9=['d','s',1,8,'s',4]
list9.index('s')

1

In [56]:
list10=['w',5,1,'a','u','k','k','k']
list10.count('k')

3

# write different methods in dictionaries.

In [57]:
key1={'name':'Priyanka','surname':'Sharma','Age':24}

In [58]:
key1.keys()

dict_keys(['name', 'surname', 'Age'])

In [60]:
key2={'place':'delhi','country':'India','religion':'hindu','language':'hindi'}

In [61]:
key2.items()

dict_items([('place', 'delhi'), ('country', 'India'), ('religion', 'hindu'), ('language', 'hindi')])

In [62]:
key3={'name':'Priyanka','surname':'Sharma','Age':24}

In [64]:
key3.get('surname')

'Sharma'

In [65]:
key4={'name':'Priyanka','surname':'Sharma','Age':24}

In [67]:
key4.pop('Age')

24

In [68]:
key4

{'name': 'Priyanka', 'surname': 'Sharma'}

In [70]:
key5={'name':'Priyanka','surname':'Sharma','Age':24}

In [72]:
key5.popitem()

('Age', 24)

In [73]:
key5

{'name': 'Priyanka', 'surname': 'Sharma'}

In [74]:
key6={'name':'Priyanka','surname':'Sharma','Age':24}

In [75]:
key6.values()

dict_values(['Priyanka', 'Sharma', 24])

In [76]:
key7={'name':'Priyanka','surname':'Sharma','Age':24}

In [81]:
key={'place':'buland'}

In [82]:
key7.update(key)

In [83]:
key7

{'name': 'Priyanka', 'surname': 'Sharma', 'Age': 24, 'place': 'buland'}

In [84]:
key8={'name': 'Priyanka', 'surname': 'Sharma', 'Age': 24, 'place': 'buland'}

In [91]:
key8.clear()

In [92]:
key8

{}

In [98]:
key9={'name': 'Priyanka', 'surname': 'Sharma', 'Age': 24, 'place': 'buland','language':'hindi'}
key={'place':'delhi','country':'India','religion':'hindu','language':'hindi'}

In [99]:
key9.fromkeys(key)

{'place': None, 'country': None, 'religion': None, 'language': None}

In [100]:
key10={'place':'delhi','country':'India','religion':'hindu','language':'hindi'}

In [102]:
key10.copy()

{'place': 'delhi',
 'country': 'India',
 'religion': 'hindu',
 'language': 'hindi'}

# write down different methods in Tuple

In [107]:
tup1=(1,3,6,"a","f",66,66)

In [104]:
tup1.count(3)

1

In [108]:
tup1.count(66)

2

In [111]:
tup1.index("a")

3

# write down different methods in sets.

In [136]:
set1={1,2,3,4,'a','d'}
set2={5,6,8,'a'}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 8, 'a', 'd'}

In [140]:
set1.intersection(set2)

{'a'}

In [114]:
set1.update('k')

In [115]:
set1

{1, 2, 3, 4, 'a', 'd', 'k'}

In [116]:
set1.pop()

1

In [121]:
set5={5,6,2,3,4,5,}
set={'a','v','s',6,3,5,4,2}

In [123]:
set.issubset(set5)

False

In [124]:
set5.issubset(set)

True

In [126]:
set.add(9)

In [127]:
set

{2, 3, 4, 5, 6, 9, 'a', 's', 'v'}

In [128]:
set.clear()

In [129]:
set

set()

In [133]:
set={'a','v','s',6,3,5,4,2}
set7={'f',4,2,8,'d'}
set.copy()

{2, 3, 4, 5, 6, 'a', 's', 'v'}

In [134]:
set.difference(set7)

{3, 5, 6, 'a', 's', 'v'}

In [142]:
set.isdisjoint(set7)

False